@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

/*=========================================
 =================RESETS===================
=========================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  min-height: 100vh;
  background: rgb(7, 7, 7);
  font-family: "Nunito Sans", sans-serif;
  color: white;
  display :flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 170px; /* Screen size */
  grid-auto-rows: 75px; /* Button size */
  gap: 10px;
  padding: 1.5em ;
  background: #E2CFEA;
  border-radius: 15px;
  box-shadow: 8px 8px 20px 8px black; /* Larger blur and spread radius */
  overflow-y: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 15px;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.buttons:hover {
  background-color: black;
  transform: scale(1.05);
}

.equal{
  background-color: #F92A82; 
}

.clear, .delete {
  background-color: #6A0572; 
}

.operator-button {
  background-color: #FF5A5F;
}

.number-button {
  background-color: #50bbb9; 
}


/* ========BUTTONS====== */
.buttons {
  border-radius: 15px;
  font-weight: 700;
}

.display-number {
  position: absolute; 
  bottom: 15px; 
  right: 35px;
  font-size: 1.7rem;
}

.display-operation {
  font-size: 1.4rem;
  position: absolute;
  top: 15px;
  right: 35px;
}

.screen {
  position: relative;
  grid-column: 1 / 5;
  font-size: 2rem;
  border: 2px solid rgb(167, 167, 167);
  border-radius: 10px;
  background-color: #CCCCCC;
  color: rgb(73, 73, 73);
  margin-bottom: 25px;
  box-shadow: 1px 1px 4px 1px black; /* Larger blur and spread radius */
}

/* FIRST ROW */
.open-parenthesis {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.close-parenthesis {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.clear {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
.delete {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.division {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

/* SECOND ROW */
.multiplication {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}

/* THIRD ROW */
.minus {
  grid-row: 4 / 5;
  grid-column: 4 / 5;
}

/* FOURTH ROW */
.plus {
  grid-row: 5 / 6;
  grid-column: 4 / 5;
}

/* FIFTH ROW */
#zero {
  grid-column: 1 / 2;
}
.equal {
  grid-column: 3 / 5;
  grid-row: 6 / 7;
}
.dot {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
}